/* Stylesheet by Jasmin Becerra, 2017 */

div {
	/*background-color: #ccc;*/
	font-size:12px;
}
body{
	margin:5;
}
/*p{
    text-align: center;
    background-color: #a2aaa7;
    color: white;

}*/
#title{
    height: 30px;
    text-align: center;
    background-color: #cecece;
    color: #848484;
    font-size: 21px;
}
#temporal-legend{
    font-weight:bold;
    font-size:15px;
}
#mapid {
	height: 650px;
	width: 99%;
	display: inline-block;
}

/*#panel {
    width: 25%;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 40px;
}*/


#forward {
    float: right;
}

#reverse {
    float: left;
}




.leaflet-popup-content p {
    margin: 0.3em 0;
}

.sequence-control-container {
    width: 300px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 150px;
}

.legend-container{
/*    width: 150px;
    height: 80px;*/
    background-color: rgba(255,255,255,0.8);
    padding: 1px;
    position: top;
    text-align: center;
    border: solid gray 1px;
}

.legend-circle{
    position: top;
}
